$white: #ffffff;
$light: #f0f0f0;
$dark: #121212;
$primary: #2c1238;
$secondary: #e57cd8;
$success: #1f9a5b;
$warning: #ffde91;
$danger: #fe7377;
$info: #fdeae2;
$gray: #d5cfd6;

// spacing related
$spacer: 1rem;
