$white: #fef9f6;
$light: #e3e3e3;
$dark: #412a4c;
$primary: #2c1238;
$secondary: #e57cd8;
$success: #1f9a5b;
$warning: #ffde91;
$danger: #fe7377;
$info: #fdeae2;
$gray: #eee4fd;

// spacing related
$spacer: 1rem;
