$color-primary-1: #854fdb;
$color-primary-2: #b938d2;
$color-white: #ffffff;
$color-gray: #7a7a7a;

$breakpoint: 900px;

// GT Haptik Medium

$color-primary: #2c1238;
$color-secondary: #e57cd8;
$color-info: #ffde91;
$color-gray-0: #d5cfd6;

$white: #ffffff;
$light: #e3e3e3;
$dark: #121212;
$primary: #2c1238;
$secondary: #e57cd8;
$success: #1f9a5b;
$warning: #ffde91;
$danger: #fe7377;
$info: #fdeae2;
$gray: #d5cfd6;
