$color-primary-1: #854fdb;
$color-primary-2: #b938d2;
$color-white: #ffffff;
$color-gray: #7a7a7a;

$breakpoint: 900px;

// GT Haptik Medium

$color-primary: #2c1238;
$color-secondary: #e57cd8;
$color-info: #ffde91;
$color-gray-0: #d5cfd6;
