@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;800&display=swap");

* {
  box-sizing: border-box;
  color: $dark;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.navbar-brand {
  font-weight: 800;
  font-family: "Alegreya", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alegreya", serif;
}
h1 {
  font-weight: 800;
}

.section-title {
  font-size: 3rem;
}

section {
  padding-top: 4rem;
}

.breadcrumb-item {
  a {
    text-decoration: none;
  }
}
